.pricingTable{
    padding: 30px 0px;
    border: 1px solid #e1e1e1;
    text-align: center;
    overflow: hidden;
    position: relative;
    width:100%;
}
.pricingTable:before{
    content: "";
    border-right: 55px solid #337ab7;;
    border-top: 55px solid transparent;
    border-bottom: 55px solid transparent;
    position: absolute;
    top: 30px;
    right: -100px;
    transition: all 1s ease 0s;

}
.pricingTable:hover:before{ right: 0;

}
.tuple:hover {
 -moz-box-shadow: 0px 8px 17px #240224;
-webkit-box-shadow: 0px 8px 17px #240224;
box-shadow: 0px 8px 17px #240224;
}
.pricingTable .title{
    font-size: 20px;
    color: #3a405a;
    margin: -20px 0 10px 0;
}
.image{
    width:80px;
    height:80px;


}
.pricingTable .price-value{
    font-size: 40px;
    font-weight: 700;
    color: #3a405a;
    margin-bottom: 10px;
}
.pricingTable .month{
    display: inline-block;
    font-size: 17px;
    font-weight: normal;
    color: #3a405a;
}
.pricingTable .pricing-content{
    padding: 0;
    margin: -30px 0 0px 0;
    list-style: none;
}
.pricingTable .pricing-content li{
    font-size: 16px;
    color: #3a405a;
    line-height: 55px;
}
.pricingTable .pricing-content li:nth-child(even){
    background: #337ab7;;
    color: #fff;
}
.pricingTable .pricingTable-signup{
    display: inline-block;
    padding: 7px 30px;
    background: #337ab7;;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    transition: all 0.5s ease 0s;
}
.pricingTable:hover .pricingTable-signup{ border-radius: 30px; }
@media only screen and (max-width: 990px){
    .pricingTable{ margin-bottom: 30px; }
}