{% extends 'base.html' %}
{% block content %}
        <div class="container">
            <div class="row">
                <div class="col-sm-6 jumbotron">
                    <h2 class="jump">We Providing Medicines To Your Doorstep And Book Your Doctor's Appointment Now !</h2>
                </div>
            </div>
            <div class="row" id="book">
                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    <a class="btn btn-primary" href="/app/product/">Buy Now </a>
                </div>
                <div class="col-sm-2">
                    <a class="btn btn-success" href="/app/DoctorDetail/">Book Now </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
